<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.sync">
        
    <application android:label="Sync"
                 android:icon="@drawable/app_icon">

        <activity android:name="Sync" android:label="Sync (Old)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>

        <activity android:name="SyncHistory" android:label="SyncHistory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
